body.terminal-body {
    background-color: black;
    color: #fff;
    font-family: monospace;
  }
  
  #blog-container {
    max-width: 800px;
    margin: 4rem auto;
    padding: 1rem;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  
  .blog-title {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 2rem;
  }
  
  .blog-post h2, .blog-post h3 {
    color: #fff;
    margin-top: 2rem;
  }
  
  .blog-post p {
    line-height: 1.6;
    margin-top: 1rem;
  }
  